body {
  background: gray;
  max-width: 1200;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("images/mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 10vh;
  padding: 200px 0;
}
h1 {
  padding-top: 50px;
  margin: 10px;
  font-size: 150px;
  font-family: "Anton", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.5vh;
}
h4 {
  font-family: "Freehand", cursive;
  margin-top: 0px;
  color: rgb(218, 191, 191);
  font-size: 45px;
}
h5 {
  font-family: "Anton", sans-serif;
  padding-left: 5px;
}

main {
  background-color: aliceblue;
}
main h2 {
  font-size: 35px;
  color: rgb(218, 191, 191);
  font-family: "Freehand", cursive;
  margin: 0px auto;
  margin-bottom: -20px;
}
main h3 {
  font-size: 30px;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
}
main p {
  font-family: "DM Sans", sans-serif;
  margin-top: 5px;
}

.location {
  padding-left: 5px;
  font-size: 30px;
}
.paragraph {
  padding: 5px;
}
.paragraph1 {
  margin: 0 auto;
}

section {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 0;
}
.section2 {
  background-color: gray;
  max-width: 100%;
  padding: 5px;
}
.section3 {
  max-width: 1200px;
  padding: 0px;
}
.section3 h4 {
  margin-bottom: 0px;
  text-align: center;
}
.paragraph2 {
  text-align: center;
  padding-bottom: 10px;
}
.paragraph2 h2 {
  padding-top: 20px;
  font-size: 35px;
  margin: 0 auto;
  margin-bottom: -34px;
}
.paragraph2 h3 {
  padding-bottom: 5px;
  font-size: 40px;
}
a {
  text-decoration: none;
  color: rgb(218, 191, 191);
}
a:hover {
  color: whitesmoke;
}
.images {
  max-width: 500px;
}
.imagesGallery {
  max-width: 350px;
  margin: 0 auto;
  border-radius: 5px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 30px;
}
.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 50px;
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
}
.card h4 {
  margin-bottom: 0;
}
.cardImages {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cardPicture {
  max-width: 225px;
}
.embed {
  width: 100%;
}
.button {
  display: block;
  color: gray;
  background-color: rgb(218, 191, 191);
  padding: 10px;
  border-radius: 6px;
  font-family: "DM Sans", sans-serif;
  text-align: center;
}
footer {
  color: white;
  font-family: "DM Sans", sans-serif;
  background-image: linear-gradient(
      rgba(126, 125, 125, 0.4),
      rgba(126, 125, 125, 0.6)
    ),
    url("images/sheep.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0;
  max-width: 1200px;
  margin: 0 auto;
}
footer h3 {
  font-size: 20px;
}
footer p {
  font-size: 15px;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.githublink {
  text-align: center;
}
@media (max-width: 1084px) {
  .imagesGallery {
    width: 200px;
  }
}

@media (max-width: 800px) {
  header {
    padding: 60px 0;
    line-height: 1vh;
  }
  header h1 {
    font-size: 100px;
  }
  header h4 {
    font-size: 30px;
  }
  .images {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding-right: 30px;
  }
  .paragraph1 {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .paragraph3 {
    font-size: 15px;
  }
  .grid {
    padding: 20px;
    gap: 10px;
    grid-template-columns: 1fr;
  }
  .grid1,
  .grid2 {
    padding: 20px;
    grid-template-columns: 1fr;
  }
  .grid3 {
    margin: 0;
    padding: 30px;
    grid-template-columns: 1fr 1fr;
  }
  .imagesGallery {
    width: 400px;
  }
  footer h3 {
    font-size: 18px;
  }
}
@media (max-width: 730px) {
  .grid3 {
    padding: 20px;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
  .grid3 {
    padding: 20px;
    grid-template-columns: 1fr;
  }
  .imagesGallery {
    width: 300px;
  }
  header h4 {
    font-size: 25px;
  }
}
@media (max-width: 390px) {
  header h4 {
    font-size: 23px;
  }
  .section3 h4 {
    font-size: 30px;
  }
}
@media (max-width: 285px) {
  header h1 {
    font-size: 70px;
  }
  header h4 {
    font-size: 15px;
  }
  .section3 h4 {
    font-size: 24px;
    padding-top: 10px;
  }
  .paragraph2 h2 {
    font-size: 25px;
  }
  .paragraph2 h3 {
    font-size: 35px;
    margin-top: 8px;
    margin-bottom: 0px;
  }
  .grid1,
  .grid2 {
    padding: 5px;
    grid-template-columns: 1fr;
  }
  .embed {
    display: none;
  }
  .imagesGallery {
    width: 200px;
  }
  .githublink {
    font-size: 12px;
  }
}
